* {
  font-family: "Gupter", serif; 
}

body {
  font-family: "Gupter", serif;
  margin: 0;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF6EE;
  color: #664B4F;
  font-weight: bold;
}

#employee-login {
  width: 80%;
  max-width: 1200px;
  padding: 20px;
  background-color: #FFF6EE;
  box-shadow: 0 0 10px #664B4F;
  border-radius: 8px;
}

.header {
  background-color: #D99AAD;
  color: #664B4F;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  border-radius: 8px;
}

.input-row, .output-row {
  margin-bottom: 20px;
}

.input-row input {
  background-color: #FFF6EE;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 4px;
  width: 100%;
}

.btn-container {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.btn {
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.regist-btn {
  color: #664B4F;
  background-color: #D99AAD;
}

.error {
  color: #FF6F61;
  text-align: center;
  font-size: 16px;
}
